{% extends 'owner/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">


        <!--****
            Content body start
        *****-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Bootstrap</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">All House</h4>
                            </div>
                           
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>
                                                <th style="width:20px;"><strong>id</strong></th>
                                                <th><strong>Address </strong></th>
                                                <th><strong>State</strong></th>
                                                <th><strong>City</strong></th>
                                                <th><strong>Image</strong></th>
                                                <th><strong>Image1</strong></th>
                                                <th><strong>Image2</strong></th>
                                                <th><strong>Roomno</strong></th>
                                                <th><strong>Rent</strong></th>
                                                <th><strong>Ac</strong></th>
                                                <th><strong>Gender</strong></th>
                                                <th><strong>Speciality</strong></th>
                                                <th><strong>Food</strong></th>
                                            </tr>
                                        </thead>
                            
                                      
                                        <tbody>
                                            {% if key3 %}
                    
                                            {% for i in key3 %}
                                           
                                            <tr>
                                                <td><strong>{{i.id}}</strong></td>
                                                <td>{{i.Address}}</td>
                                                <td>{{i.State}}</td>
                                                <td>{{i.City}}</td>
                                                <td>{{i.Image}}</td>
                                                <td>{{i.Image1}}</td>
                                                <td>{{i.Image2}}</td>
                                                <td>{{i.Roomno}}</td>
                                                <td>{{i.Rent}}</td>
                                                <td>{{i.Ac}}</td>
                                                <td>{{i.Gender}}</td>
                                                <td>{{i.Speciality}}</td>
                                                <td>{{i.Food}}</td>
                                                
                                                <td>
													<div class="dropdown">
														<button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
															<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg>
														</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="{% url 'edithouse' pk=i.id %}">Edit</a>
															<a class="dropdown-item" href="{% url 'deletehouse' pk=i.id %}">Delete</a>
														</div>
													</div>
                                                </td>
                                                
                    {% endfor %}
                                        
                    
                                  
                    {% endif %}
                                            </tr>
											
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




					
        <!--****
            Content body end
        *****-->


       
{% endblock %}