

{% load static %}



<!DOCTYPE html>
<html lang="en">


<!-- molla/index-1.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BookMyPG</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static '/assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static '/assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static '/assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static '/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/skins/skin-demo-2.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/demos/demo-2.css' %}">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-2 header-intro-clearance">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                    
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                        
                                <ul>
                                    <li>
                                        <div class="header-dropdown">
                                    
                                            <div class="header-menu">
                    
                                            </div><!-- End .header-menu -->
                                        </div>
                                    </li>
                                    <li>

                                    </li>
                                    <li><a href="{% url 'loginpage' %}" >Sign in / Sign up</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->

                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                    
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="index.html" class="logo">
                            <h1>BookMyPG</h1>
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                           
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="account">
                            <a href="{% url 'loginpage' %}" title="My account">
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                                <p></p>
                             

                            </a>
                        </div><!-- End .compare-dropdown -->
                    
                         <div class="account">
                                <a href="" >
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p>Log Out</p>
                               
                                </a>
                            </div><!-- End .compare-dropdown -->
    

                        <div class="wishlist">
                            <a href="{% url 'loginpage' %}" title="Wishlist">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge">3</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div><!-- End .compare-dropdown -->

                       <!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Browse Categories
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        <li class="item-lead"><a href="{% url 'opencategory' name='1 Room' %}">1 Rooms</a></li>
                                                                <li class="item-lead"><a href="{% url 'opencategory' name='1BHK' %}">1 BHK</a></li>
                                                                <li class="item-lead"><a href="{% url 'opencategory' name='2BHK' %}">2 BHK</a></li>
                                                                <li class="item-lead"><a href="{% url 'opencategory' name='3BHK' %}">3 BHK</a></li>
                                                                <li class="item-lead"><a href="{% url 'opencategory' name='4BHK' %}">4 BHK</a></li>
                                                            
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                            
                                    <a href="index.html" class="sf-with-ul">Home</a>

                                    <div class="megamenu demo">
                                        <div class="menu-col">
                                            
                                            <div class="demo-list">
                                                <div class="demo-item">
                                                    
                                                </div><!-- End .demo-item -->

                                                <div class="demo-item">
                                                    
                                                </div><!-- End .demo-item -->

                                               
                                            </div><!-- End .demo-list -->

                                           <!-- End .text-center -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .megamenu -->
                                
                                <li>
                                    <a href="category.html" class="sf-with-ul">Filters</a>

                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="menu-title">Filter By Price</div><!-- End .menu-title -->
                                                          <ul>
                                                                <li><a href="{% url 'OpenCategoryprice1' price='4000' %}">Low Price</a></li>
                                                                <li><a href="{% url 'OpenCategoryprice1' price='15000' %}">Medium Price</a></li>
                                                                <li><a href="{% url 'OpenCategoryprice1' price='25000' %}">High Price</a></li>
                                                                
                                                            </ul>

                                                            <div class="menu-title">Filter By Location</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="{% url 'OpenCategorylocation1' name='Ahmedabad' %}"><span>Ahmedabad<span class="tip tip-hot">Hot</span></span></a></li>
                                                                <li><a href="{% url 'OpenCategorylocation1' name='Gandhinagar' %}">Gandhinagar</a></li>
                                                                <li><a href="{% url 'OpenCategorylocation1' name='Surat' %}"><span>Surat<span class="tip tip-hot">Hot</span></span></a></li>
                                                                <li><a href="{% url 'OpenCategorylocation1' name='Baroda' %}">Baroda</a></li>
                   
                                                                <li><a href="{% url 'OpenCategorylocation1' name='Rajkot' %}"><span>Rajkot<span class="tip tip-hot">Hot</span></span></a></li>
                                                        
                   
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->

                                                        <div class="col-md-6">
                                                            
                                                        </div><!-- End .col-md-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a href="category.html" class="banner banner-menu">
                                                        <img src="{% static '/assets/images/menu/banner-1.jpg' %}" alt="Banner">

                                                        <div class="banner-content banner-content-top">
                                                            <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="about.html" class="sf-with-ul">About</a>

                                            <ul>
                                                <li><a href="about.html">About 01</a></li>
                                                <li><a href="about-2.html">About 02</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html" class="sf-with-ul">Contact</a>

                                            <ul>
                                                <li><a href="contact.html">Contact 01</a></li>
                                                <li><a href="contact-2.html">Contact 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="elements-list.html" class="sf-with-ul">Elements</a>

                                    <ul>
                                        <li><a href="elements-products.html">Products</a></li>
                                        <li><a href="elements-typography.html">Typography</a></li>
                                        <li><a href="elements-titles.html">Titles</a></li>
                                        <li><a href="elements-banners.html">Banners</a></li>
                                        <li><a href="elements-product-category.html">Product Category</a></li>
                                        <li><a href="elements-video-banners.html">Video Banners</a></li>
                                        <li><a href="elements-buttons.html">Buttons</a></li>
                                        <li><a href="elements-accordions.html">Accordions</a></li>
                                        <li><a href="elements-tabs.html">Tabs</a></li>
                                        <li><a href="elements-testimonials.html">Testimonials</a></li>
                                        <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                        <li><a href="elements-portfolio.html">Portfolio</a></li>
                                        <li><a href="elements-cta.html">Call to Action</a></li>
                                        <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                                   </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->



        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">List<span>House</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                				<!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<!-- End .toolbox-layout -->
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

							{% if all %}
                    
							{% for i in all %}
						
                            <div class="products mb-3">
                                <div class="product product-list">
                                   
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <figure class="product-media">
                                                <span class="product-label label-new">New</span>
                                                <a href="product.html">
                                                    <img src="{{MEDIA_URL}}{{i.Image.url}}" alt="Image 1">
                                                </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-6 col-lg-3 order-lg-last">
                                            <div class="product-list-action">
                                                <div class="product-price">
                                                    {{i.Rent}}
                                                </div><!-- End .product-price -->
                                              
                                            </div><!-- End .product-list-action -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-lg-6">
                                            <div class="product-body product-action-inner">
                                                <div class="product-cat">
                                                    <a href="#">{{i.Gender}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="{% url 'housedetails1' pk=i.id %}">{{i.Roomno}}</a></h3><!-- End .product-title -->

                                                <div class="product-content">
                                                    <p>{{i.Address}} </p>
                                                </div><!-- End .product-content -->
                                                
                                                <div class="product-nav product-nav-thumbs">
                                                    <a href="#">
                                                        <img src="{{MEDIA_URL}}{{i.Image1.url}}" alt="Image 2">
                                                    </a>

                                                    <a href="#">
                                                        <img src="{{MEDIA_URL}}{{i.Image2.url}}" alt="Image 3">
                                                    </a>
                                                </div><!-- End .product-nav -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .col-lg-6 -->

                                     </div><!-- End .row -->
                                </div><!-- End .product -->

                              </div><!-- End .products -->
							  {% endfor %}
							  {% endif %}
							

                			                		</div><!-- End .col-lg-9 -->
                		
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       
    <!-- Plugins JS File -->
</body>


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
</html>
