{% extends 'app/base.html' %}

{% load static %}

{% block content %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            		
        					
            			</div><!-- End .checkout-discount -->
            			
		                	<div class="row">
		                		<div class="col-lg-9">
                                    
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>First Name *</label>
		                						<input type="text" class="form-control" required value="{{keyc.Firstname}}">
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Last Name *</label>
		                						<input type="text" class="form-control" required value="{{keyc.Lastname}}">
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	            						<label>Contact No :</label>
	            						<input type="text" class="form-control" value="{{keyc.Contact}}">

	            						
	            						<label>Address *</label>
	            						<input type="text" class="form-control" value="{{keyc.Address}}" required>
	            						
	            						<div class="row">
		                					<div class="col-sm-6">
		                						<label>Town / City *</label>
		                						<input type="text" class="form-control" required value="{{keyc.City}}">
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>State / County *</label>
		                						<input type="text" class="form-control" required value="{{keyc.State}}">
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

		                				
	                				
	        						
	                				
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Address</th>
                                                    <th>Room No</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
                                                {% if keyp %}
                                                {% for i in keyp %}
		                						<tr>
		                							<td><a href="#">{{i.Address}}</a></td>
		                							<td>{{i.Roomno}}</td>
                                                    <td>{{i.Rent}}</td>
		                						</tr>
                                                {% endfor %}
                                                {% endif %}
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>{{sub_total}}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>{{sub_total}}</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
										            <div class="card-body">
										              </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->


										  
										    <div class="card">
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										                    Paytm <small class="float-right paypal-link">Advance Booking With Paytm?</small>
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										            <div class="card-body">
										               </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

                                            <form method="POST" action="{% url 'pay' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="sub_total" value="{{sub_total}}">
                                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
                                        </form>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

</body>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
</html>
{% endblock content %}