<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 100px;
  max-width: 600px;
  height: 700px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

</style>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Registration form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{% url 'register' %} " method="post">
                          {% csrf_token %}
                          {% if msg %}
                          <p class="text-danger text-center">{{msg}}</p>
                      {% endif %}
                          
                            <h3 class="text-center text-info">Registration</h3>
                            <center>
                              <select name="role" id="">
                                  <option>===Select Role===</option>
                                  <option>Owner</option>
                                  <option>customer</option>
                              </select>
                          </center>
                        
                       
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input type="email" name="email" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="username" class="text-info">Confirm Password:</label><br>
                              <input type="password" name="cpassword" id="username" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="username" class="text-info">First Name:</label><br>
                            <input type="text" name="fname" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="username" class="text-info">Last Name:</label><br>
                          <input type="text" name="lname" id="username" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="username" class="text-info">Contact No:</label><br>
                        <input type="text" name="contact" id="username" maxlength="10" minlength="10" class="form-control">
                    </div>
                   
                     
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                             <center>  <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"></center>
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="{% url 'loginpage' %}" class="text-info">Login here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
